/**********Color Palette:
1. #E9DC19 / RGB: 233, 220, 35 / HSV: 56, 89, 91
2. #55093D / RGB: 85, 9, 61    / HSV: 319, 89, 33
********** Color Palette*/

* {
  font-family: 'EB Garamond', serif;
  background: linear-gradient(to bottom right, red, yellow);
}

header, h1 {
  text-align: center;
}

.container {
  text-align: center;
  /*width: 1300px;*/
  max-width: 1300px;
}

.vote {
  display: inline;
  height: 200px;
  width: 200px;
  padding: 15px;
  border-style: solid;
  margin: 10px;
}


.buttons {
  /*clear: both;*/
  margin-left: 45px;
  margin-bottom: 30px;
}


.list {
  margin-left: 45px;
  clear: both;
  columns: 3;
}
