/**********Color Palette:
1. #FDF2FE / RGB: 233, 220, 35 / HSV: 56, 89, 91
2. #E056F3 / RGB: 85, 9, 61    / HSV: 319, 89, 33
********** Color Palette*/

html {
  font-family: 'EB Garamond', serif;
  background: linear-gradient(to bottom right, #E056F3, #FDF2FE);
}

header, h1 {
  text-align: center;
  max-width: 1300px;
}

.container {
  text-align: center;
  /*width: 1300px;*/
  max-width: 1300px;
}

.vote {
  display: inline;
  height: 200px;
  width: 200px;
  padding: 15px;
  border-style: solid;
  margin: 10px;
}


.buttons {
  /*clear: both;*/
  margin-left: 75px;
  margin-bottom: 30px;
  font-size: 24px;
}

#showResults, #reset {
  border-radius: 8px;
}


.list {
  margin-left: 45px;
  clear: both;
  columns: 3;
  font-size: 1.5em;
}
